.border {
  border: #333;
  /* max-width: 12px; */
  padding: 10px;
  display: inline-flex;
}

.align-left {
  text-align: left;
  justify-content: space-between;
  padding: 2;
  margin: 0;
  display: inline-flex;
}

.align-right {
  text-align: right;
  justify-content: space-between;
  padding: 2;
  margin: 0;
}